* {
    margin: 0;
    padding: 0;
    background-color: #000;
}

.clock {
    font-size: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    color: #fff;
}

.btn {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.btn button {
    padding:8px  25px;
    width: 200px;
    margin: 10px;
    font-size: 20px;
    color: #fff;
    background-color: #000;
    border: none;
    box-shadow: 0 0 10px #331b1b;
    cursor: pointer;
    border-radius: 10px;
}
button:hover{
    background-color:#745a5a;

}